<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon"  href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Memo Board</title>
</head>
<body>
    <div id="memoboard" url="{{ url_for('api.lists') }}"></div>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>