.addlist {
    margin-top: 23px;
}

.edititem {
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

.item-date {
    margin-right: 5px;
}

td.first {
    padding-left: 15px !important;
}

td.last {
    padding-right: 15px !important;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

p {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display:block
}

.panel-collapse > .glyphicon {
 margin-right: 5px;
 color: #777;
}